<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'contact-bg.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                <div class="my-5">
                    <form>
                    <%= form_with(model: @blog, local: true, name: "sentMessage", id: "contactForm") do |form| %>
                      <div class="form-floating">
                          <%= form.text_field :title, placeholder: "Enter blog title...", class: "form-control", id: "inputTitle" %>
                          <label for="inputTitle">Title</label>
                      </div>
                      <div class="form-floating">
                          <%= form.text_field :description, placeholder: "Enter blog description...", class: "form-control", id: "inputDescription" %>
                          <label for="inputDescription">Description</label>
                      </div>
                      <br />
                      <%= form.submit nil, class: "btn btn-primary text-uppercase" %>
                    <% end %>
                    </form>
                </div>
            </div>
        </div>
    </div>